# Uncomment these following lines and rename file to `.env.development` so Next.js can load it to the environment variable and this app can use these

# HOSTNAME=localhost
# PORT=3001
# HOST=http://$HOSTNAME:$PORT
# HELP_APP_URL=https://google.com